
.adImage{
	width: 80%;
	height: 80%;
	border-radius: 5px;

}
.avatarImage{
	width: 60px;
	height: 40px;
	border-radius: 5px;
	margin-top:5px;
}
.box{
	border: 2px grey dotted;
	background-color: #D1D1D1;
	padding:5px;
	margin: 10px;
}
.selected {
	background-color:lightblue;
}
.sidebar-menu{
	list-style-type: none;
}
.navbar-brand{
	padding-top:6px;
}
.icons{
	width: 23px;
	height: 23px;
}

.navbar-inverse .navbar-nav > li > a{
	color:black;
}
.navbar-inverse{
	background-color:gray;
}
.profileImage-box > img{
	width: 150px;
	height: 150px;
}

.coverImage-box > img {
	width: 300px;
	height: 150px;
}
li {
	display:inline;
}
#container {
	border:solid 1px black;
}
#container > ul > li > img {
  width: 100px;
  height: 100px;
}
.caption > a {
	text-decoration: none;
	color:white;
}

.imageHolder { position: relative; width: 285px; height: 175px; } 
.imageHolder .caption { position: absolute;
  width: 98px;
  height: 15px;
  bottom: 0px;
  left: 0px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-weight: bold; }

 .requestsNumber {
 	position: absolute;
	bottom: 6px;
  	left: 27px;
  	border-radius: 50%;
	width: 20px;
	height: 20px; 
	background-color:red;
	text-align: center;
 }

 .friendRequests {
 	position: absolute;
 	border:solid 1px black;
 	width: 300px;
 	background-color:gray;
 }
 .friendRequests > ul {
 	list-style: none;
    float: right;
  	margin-top: 16px;
  	margin-left: -45px;
  	width: 300px;
 }
 .friendRequests > ul > li {
 	display:block;
 	 height: 96px;
  	line-height: 30px;
  	color:black;
  	  padding-bottom: 70px;
 }
 .friendRequests > ul > li > img {
 	width: 50px;
 	height: 50px;
 	vertical-align: text-top;
 }
  .friendRequests > ul > li > div {
 	display:inline;
 }
 .autocompletepanel{
 	position: absolute;
 	border:solid 1px black;
 	width: 300px;
 	background-color:white;
 	font-weight: bold;
 }
  .autocompletepanel > div > a {
	color:black;
  }
  .autocompletepanel > div {
	height: 60px;
	width: 278px;
  }

   .autocompletepanel > div > a > img {
	height: 50px;
	width: 50px;
  }
  .col-lg-4 {
  	margin-top: 50px;
  }
  .wallProfileImage{
  	display:inline-block;
  }
  .wallProfileImage > img {
  	width: 125px;
  	height: 125px;
  	margin: 70px 0px 0px 120px;
  }
  .wallProfileImage > span {
  	  float: right;
 	 padding-top: 102px;
 	 padding-left:20px;
  }
  .wallProfileImage > span > h4 {
  	color:white;
  	text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  }

  .modal-content{
     margin: auto;
     width: 500px;
     height: auto;  
     margin-bottom: 45px;
     top: 0; left: 0; bottom: 0; right: 0;
  }

  .modal-header > img {
    width: 45px;
    height: 45px;
  }

  .posts-content{
    margin-top:50px;
  }