<header></header>
<div class="jumbotron">
  <h1 class='text-center'>News Feed</h1>
</div>
<div class="row" ng-controller="userScreenCtrl">
	<div class="col-lg-8">
	 	<div infinite-scroll='loadFeeds()' infinite-scroll-disabled='busy' infinite-scroll-distance='0'>
		    <div ng-repeat='feed in newsFeedData'>
		    	<div class="modal-content">
                    <div class="modal-header">
                     	<img src="" ng-src="{{feed.author.profileImageData}}">
                     	<span><a href="#/users/{{feed.author.username}}">{{feed.author.name}}</a></span><br>
                     	<span>{{feed.date | date: "dd MMM yyyy HH:mm:ss"}}<span>
                    </div>
                    <div class="modal-body">
                      <p>{{feed.postContent}}</p>
                    </div>
                    <div class="modal-footer">
                    
                    </div>
                  </div>
		      <div style='clear: both;'></div>
		    </div> 
		  </div>
	  <div ng-show='busy' style="margin-left: auto;margin-right: auto;width: 11%;">Loading data...</div>
	</div>
	<div class="col-lg-4">
		<div id="container">
			<h3>Friends - <a href="#/users/{{username}}/friends">{{ownFriendsPreview.totalCount}}</a> total</h3>
			<ul>
				<li class="imageHolder" ng-repeat="friend in ownFriendsPreview.friends" >
					<img ng-if="friend.profileImageData != null" ng-src="{{friend.profileImageData}}" >
					<img ng-if="friend.profileImageData == null" ng-src="{{defaultImage}}" >
					<div class="caption"><br><a href="#/users/{{friend.username}}">{{friend.name}}</a></div>
				</li>
			</ul>
		</div>
	</div>
</div>