<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div ng-if="user.profileImageData == 'null' || user.profileImageData == null">
        <a class="navbar-brand" href="#/"><img src="" ng-src="img/unknown_avatar_tn_sml.png" class="avatarImage"></a>
      </div>
       <div ng-if="user.profileImageData != null && user.profileImageData != 'null'">
        <a class="navbar-brand" href="#/"><img src="" ng-src="{{user.profileImageData}}" class="avatarImage"></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="#/">{{user.name}}</a></li>
        <li><a href="#/"><img src="" ng-src="/img/speech-large.png" class='icons'></a></li>
        <li><a href="#"><img src="" ng-src="/img/users.png" class='icons'></a></li>
        <li><a href="#/profile"><img src="" ng-src="/img/black-settings-256.png" class='icons'></a></li>
        <li><a href="#/profile/password"><img src="" ng-src="/img/key-1.png" class='icons'></a></li>
        <li ng-click="logout()"><a href="#/" ><img src="" ng-src="/img/common_logout_signout_exit_-512.png" class='icons'></a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
  </div>
</nav>